.label {
    -fx-border-color: red;
    -fx-min-width: 74px;
}

.current {
    -fx-border-width: 5px;
    -fx-min-height: 66px;
}

.correct_position {
    -fx-background-color: green;
}

.in_word {
    -fx-background-color: yellow;
}

.not_used {
    -fx-background-color: grey;
}